# ENTRI: DATA ANALYST INTERVIEW CHALLENGE

In [1]:
#importing required libraries
import pandas as pd
import math
import datetime
from datetime import datetime
from datetime import timedelta

In [2]:
#importing data from github
data_1 = pd.read_csv("https://raw.githubusercontent.com/nithinpookkattu/entri_data/main/user_purchase_data.csv")

data_2 = pd.read_csv("https://raw.githubusercontent.com/nithinpookkattu/entri_data/main/track_subscription_data.csv")

data_3 = pd.read_csv("https://raw.githubusercontent.com/nithinpookkattu/entri_data/main/user_quiz_attempt_data.csv")

data_4 = pd.read_csv("https://raw.githubusercontent.com/nithinpookkattu/entri_data/main/user_video_activity_data.csv")

data_5 = pd.read_csv("https://raw.githubusercontent.com/nithinpookkattu/entri_data/main/user_studycard_data.csv")

In [3]:
user_df = data_1
n_user_df = data_1

In [4]:
#Creating list of customers not purchased from Entri App
n_user_df = n_user_df[n_user_df["date_of_first_purhcase"].isnull()]
n_user_list = n_user_df["user_uid"].tolist()
print(len(n_user_list))

424

In [5]:
#Creating list of customers purchased from Entri App
user_df.dropna(subset=["date_of_first_purhcase"], inplace=True)
user_list = user_df["user_uid"].tolist()
print(len(user_list))

576

In [6]:
#Conversion Rate
cr = (len(user_list) * 100) / (len(user_list) + len(n_user_list))
print('Conversion Rate =', cr,'%')

Conversion Rate = 57.6 %

In [7]:
data_1['date_joined'] = pd.to_datetime(data_1['date_joined'])
data_1['date_of_first_purhcase'] = pd.to_datetime(data_1['date_of_first_purhcase'])

data_1['difference'] = data_1['date_of_first_purhcase'].sub(data_1['date_joined'], axis=0)
data_1['difference'] = pd.to_numeric(data_1['difference'])
print("Number of data having 'Date of first purchase' before 'Date joined' = ", sum(data_1.difference < 0) ,"entries.")

Number of data having 'Date of first purchase' before 'Date joined' =  83 entries.

In [8]:
#splitting track_subscription_data between users and non users
df2_1 = pd.DataFrame()
df2_2 = pd.DataFrame()

#course list subscribed by users
for i in user_list:
    d2_u = data_2[data_2['user_id'] == i]
    df2_1 = df2_1.append(d2_u)   
    
user_pur_list = df2_1['track_slug'].value_counts()

#course list subscribed by users
for j in n_user_list:
    d2_nu = data_2[data_2['user_id'] == j]
    df2_2 = df2_2.append(d2_nu)
    
non_user_pur_list = df2_2['track_slug'].value_counts()

In [9]:
print(user_pur_list)

Spoken_eng_hindi     249
kerala-psc           125
spoken-english       103
Eng_Inver_Coc         48
BANK-INS              33
                    ...
YourStory_Academy      1
NEET                   1
SDQ                    1
JEE                    1
Busi_Course            1
Name: track_slug, Length: 66, dtype: int64

In [10]:
print(non_user_pur_list)

spoken-english          110
kerala-psc               38
Spoken_eng_hindi         35
BANK-INS                 31
ssc                      29
TNPSC                    28
rrb                      23
Anb_eng                  23
Apti_ess                 20
Group_2_2A               11
SE_Junior                 9
Eng_With_Awal             9
Eng_Inver_Coc             8
GATE_Civil                7
UPGOVT                    7
TSPSC                     6
Public_Speaking           6
eng_car_success           6
KPSC_Driver               5
Group_1                   4
EEE                       4
Staff_Nurse               4
PET                       4
Police_Exams_Special      4
HCA_Kerala                3
GATE-Electrical           3
KTET                      3
Civil_Tech                3
MPGOVT                    3
APPSC                     3
DSSSB                     3
Stock_mar                 3
Tet                       3
karnataka-psc             3
Digi_Mark                 2
CTET                      2
cet                       2
Kerala_AS                 2
Fin_Acc                   1
K_HSA                     1
SUPERTET                  1
GATE_Mechanical           1
OP_KWA                    1
CO-BANK                   1
NET                       1
Computer_Tech             1
Quant_Easy                1
Youtube_telugu            1
STUH                      1
Mech_Tech                 1
GATE_Electronics          1
Name: track_slug, dtype: int64

In [11]:
cour_list = ['Spoken_eng_hindi','kerala-psc','spoken-english','Eng_Inver_Coc','BANK-INS', 'ssc']

print('Conversion Rate of top 5 courses selected by users and non users \n')
for i in cour_list:
    cr_cour = round((user_pur_list[i] * 100) / (user_pur_list[i] + non_user_pur_list[i]), 2)
    print(i, cr_cour, '%')

Conversion Rate of top 5 courses selected by users and non users

Spoken_eng_hindi 87.68 %
kerala-psc 76.69 %
spoken-english 48.36 %
Eng_Inver_Coc 85.71 %
BANK-INS 51.56 %
ssc 49.12 %

#### Among the above courses, Spoken_eng_hindi, kerala-psc and Eng_Inver_Coc courses are making most of the users create a buy on Entri App whereas spoken-english, BANK-INS, and ssc courses can be improved by taking feedback from the users who are not joining for these courses.

In [12]:
data_4['watched_at'] = pd.to_datetime(data_4['watched_at'])
data_4 = data_4.sort_values(by = ['user_id','watched_at'])
data_4['date'] = data_4['watched_at'].dt.date

In [13]:
#user activitiy
df_1 = pd.DataFrame()
for i in user_list:
        d4_a1 = data_4[data_4['user_id'] == i]
        df_1 = df_1.append(d4_a1)

In [14]:
#non-user activitiy
df_2 = pd.DataFrame()
for i in n_user_list:
        d4_b1 = data_4[data_4['user_id'] == i]
        df_2 = df_2.append(d4_b1)

In [15]:
#involvement of users and non-user groups
tot_wat_dur_1 = df_1['watched_duration'].sum() 
tot_dur_1 = df_1['duration'].sum()

inv_1 = round((tot_wat_dur_1 * 100) / (tot_dur_1),2)
print("Involvement of user group is ",inv_1,"%")

tot_wat_dur_2 = df_2['watched_duration'].sum() 
tot_dur_2 = df_2['duration'].sum()

inv_2 = round((tot_wat_dur_2 * 100) / (tot_dur_2),2)
print("Involvement of non-user group is ",inv_2,"%")

Involvement of user group is  37.46 %
Involvement of non-user group is  26.66 %

In [16]:
#Calculating the first week user activity - users
st_da = 0
st_da = pd.to_datetime(st_da)
en_da = 0
en_da = pd.to_datetime(en_da)

df_3 = pd.DataFrame()
data_list_not_viewed = []

for i in range(len(user_list)):
    try:
        d4_a3 = data_4[data_4['user_id'] == user_list[i]]
        st_da = d4_a3['date'].iloc[0]
        en_da = st_da + timedelta(days = 6)
        d4_list = d4_a3[d4_a3["date"] <= en_da]
        df_3 = df_3.append(d4_list) 
    except:
        data_list_not_viewed.append(user_list[i])

#list of users who didn't watched any videos
#print(data_list_not_viewed)

#involvement of users groups (first week)
tot_wat_dur_3 = df_3['watched_duration'].sum() 
tot_dur_3 = df_3['duration'].sum()
inv_3 = round((tot_wat_dur_3 * 100) / (tot_dur_3),2)

In [17]:
#Calculating the first week user activity - non-users
st_da = 0
st_da = pd.to_datetime(st_da)
en_da = 0
en_da = pd.to_datetime(en_da)

df_3 = pd.DataFrame()
data_list_not_viewed = []

for i in range(len(n_user_list)):
    try:
        d4_a3 = data_4[data_4['user_id'] == n_user_list[i]]
        st_da = d4_a3['date'].iloc[0]
        en_da = st_da + timedelta(days = 6)
        d4_list = d4_a3[d4_a3["date"] <= en_da]
        df_3 = df_3.append(d4_list) 
    except:
        data_list_not_viewed.append(n_user_list[i])

#list of users who didn't watched any videos
#print(data_list_not_viewed)

#involvement of users groups (first week)
tot_wat_dur_4 = df_3['watched_duration'].sum() 
tot_dur_4 = df_3['duration'].sum()
inv_4 = round((tot_wat_dur_4 * 100) / (tot_dur_4),2)

In [18]:
print("Involvement of user group (first week) is ",inv_3,"%")
print("Involvement of non-user group (first week) is ",inv_4,"%")

Involvement of user group (first week) is  36.74 %
Involvement of non-user group (first week) is  26.9 %

#### The involvement of user group increased after first week whereas that of non-ser group dreceased after first week.

In [19]:
data_3 = data_3.sort_values(by = 'user_id')

In [20]:
df_4 = pd.DataFrame()
for i in user_list:
        d3_a1 = data_3[data_3['user_id'] == i]
        df_4 = df_4.append(d3_a1)

In [21]:
df_5 = pd.DataFrame()
for i in n_user_list:
        d3_a2 = data_3[data_3['user_id'] == i]
        df_5 = df_5.append(d3_a2)

In [22]:
#grouping according to statue
grouped_1 = df_4.groupby(df_4.status)
com_u = grouped_1.get_group("COMPLETE")
q1 = round((len(com_u) * 100)/len(df_4),2)
cre_u = grouped_1.get_group("CREATE")
q2 = round((len(cre_u) * 100)/len(df_4),2)
pau_u = grouped_1.get_group("PAUSE")
q3 = round((len(pau_u) * 100)/len(df_4),2)
pro_u = grouped_1.get_group("PROGRESS")
q4 = round((len(pro_u) * 100)/len(df_4), 2)
#print(q1, q2, q3, q4)

grouped_2 = df_5.groupby(df_5.status)
com_nu = grouped_2.get_group("COMPLETE")
q5 = round((len(com_nu) * 100)/len(df_5),2)
cre_nu = grouped_2.get_group("CREATE")
q6 = round((len(cre_nu) * 100)/len(df_5),2)
pau_nu = grouped_2.get_group("PAUSE")
q7 = round((len(pau_nu) * 100)/len(df_5),2)
pro_nu = grouped_2.get_group("PROGRESS")
q8 = round((len(pro_nu) * 100)/len(df_5),2)
#print(q5, q6, q7, q8)

data = {'USER': [q1, q2, q3, q4], 'NON-USER': [q5, q6, q7, q8],}

quiz = pd.DataFrame.from_dict(data,  orient='index', columns = ['COMPLETE', 'CREATE', 'PAUSE', 'PROGRESS'])
print(quiz)

          COMPLETE  CREATE  PAUSE  PROGRESS
USER         64.80   32.36   2.18      0.66
NON-USER     61.46   33.61   3.80      1.13

#### The bahaviour of users and non-users are almost similar in the case of taking quizes.

In [23]:
data_5['start_time'] = pd.to_datetime(data_5['start_time'])
data_5['Day'] = data_5['start_time'].dt.weekday
data_5['Hour'] = data_5['start_time'].dt.hour
data_5

      user_id  activity_id                       start_time  Day  Hour
0        1642      4197126 2021-06-04 16:51:51.454473+00:00    4    16
1        1642      4197075 2021-06-04 16:43:10.115201+00:00    4    16
2        1642      4197074 2021-06-04 16:43:10.082261+00:00    4    16
3        1642      4197577 2021-06-04 18:20:58.487196+00:00    4    18
4        1642      4197174 2021-06-04 16:57:46.487970+00:00    4    16
...       ...          ...                              ...  ...   ...
3475   375461      4612797 2021-08-03 09:41:31.730705+00:00    1     9
3476   338577      4612894 2021-08-03 09:59:38.472271+00:00    1     9
3477   308949      4613078 2021-08-03 10:39:02.743418+00:00    1    10
3478   338577      4612998 2021-08-03 10:22:20.357825+00:00    1    10
3479   391477      4613637 2021-08-03 11:45:29.222723+00:00    1    11

[3480 rows x 5 columns]

In [24]:
for j in range(0,7):
    subset_1 = data_5[data_5["Day"] == j]
    print(j, "-", len(subset_1))

0 - 535
1 - 519
2 - 529
3 - 468
4 - 450
5 - 501
6 - 478

#### The video watching behaviour throughout the week is almost similar.

In [25]:
for k in range(0,24):
    subset_2 = data_5[data_5["Hour"] == k]
    print(k, '-', len(subset_2))

0 - 45
1 - 69
2 - 124
3 - 139
4 - 152
5 - 166
6 - 223
7 - 209
8 - 187
9 - 177
10 - 192
11 - 187
12 - 204
13 - 242
14 - 177
15 - 238
16 - 227
17 - 221
18 - 143
19 - 75
20 - 31
21 - 20
22 - 19
23 - 13

In [26]:
#user according to time
print("User Activity")
total_06 = 0
for k in range(0,6):
    subset_2 = data_5[data_5["Hour"] == k]
    total_06 = total_06 + len(subset_2)
print("00:00:00hrs. to 05:59:59hrs. ", total_06)

total_612 = 0
for l in range(6,12):
    subset_2 = data_5[data_5["Hour"] == l]
    total_612 = total_612 + len(subset_2)
print("06:00:00hrs. to 11:59:59hrs. ", total_612)

total_1218 = 0
for m in range(12,18):
    subset_2 = data_5[data_5["Hour"] == m]
    total_1218 = total_1218 + len(subset_2)
print("12:00:00hrs. to 17:59:59hrs. ", total_1218)

total_1824 = 0
for n in range(18,24):
    subset_2 = data_5[data_5["Hour"] == n]
    total_1824 = total_1824 + len(subset_2)
print("18:00:00hrs. to 23:59:59hrs. ", total_1824)

User Activity
00:00:00hrs. to 05:59:59hrs.  695
06:00:00hrs. to 11:59:59hrs.  1175
12:00:00hrs. to 17:59:59hrs.  1309
18:00:00hrs. to 23:59:59hrs.  301

#### Most users prefer between 12:00 noon and 06:00pm to attend courses folowed by between 06:00am and 12:00 noon